p {
   font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
}
a {
    text-decoration:none;
    color:inherit;
}

p.detail { color:#4C4C4C;
    font-family: Calibri, sans-serif;}
span.name { color:#0044b3;
    font-family: Tahoma, sans-serif; }
.reveal
{
    opacity:0;
}
.badge
{
    margin: 5px;
}
.dp {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
h1 {
    font-family: courier, serif;
}
line {
    stroke:rgb(179, 4, 36);
    stroke-width:5;
}
.section-heading {
    text-align: center;
}

.section-bg {
    background-color: #eeeeee;
}
