a {
    text-decoration:none;
    color:inherit;
}

.dp {
    object-fit: contain;
    width: 100%;
    border-radius: 5px;
}
h1 {
    font-family: courier, serif;
}

section {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*flex-wrap: nowrap;*/
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 60px;
}

.contact-media {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 48px;
}
.reference_text {
    border-bottom: 1px solid #36383b;
}

.reference_text:hover {
    cursor: pointer;
}

.location-detailed-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 225px;
    padding: 0;
    border: 1px solid #36383b;
    border-radius: 4px;
}
.tooltip-inner {
    max-width: 350px;
    padding: 0;
    margin: 0;
    opacity: 1;
}

/*.tooltip-inner p-1 {*/
/*    max-width: 350px;*/
/*    padding: 5px;*/
/*    margin: 0;*/
/*    opacity: 1;*/
/*}*/

.lead {
    text-align: justify;
}

.intro-text {
    font-size: xxx-large;
    font-weight: 100;
    font-stretch: semi-condensed;
}
.greeting-text {
    margin-bottom: 0;
    margin-top: 1rem;
    color: #a4a4a4;
    font-weight: 300;
}

#fixedbutton {
    position: fixed;
    bottom: 45%;
    right: 3%;
}
.selected {
    color: black;
    font-weight: 800;
}
/*CSS FOR JAPANESE VERSION*/
.jp-article--shinbun {
    writing-mode: vertical-rl;
    height: 300px;
}

.jp-article--shinbun > p.lead {
    font-size: 1.5rem;
}

.jp-article--shinbun > p.intro-text {
    font-weight: 400;
}
.jp-article--shinbun > .greeting-text {
    font-size: 1.25rem;
}

.jp-mode.reference_text {
    border-bottom: none !important;
    color: rgba(54, 107, 54, 0.83) !important;
}


@media (max-width: 576px) {
    .jp-article--shinbun {
        writing-mode: lr;
    }
    .contact-media {
        margin-top: 120px;
    }
    .text-end {
        text-align: left !important;
    }
}
